.header {
    display: grid;
    grid-template-columns: 1fr 150px 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 85px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

.header_menu{
    margin-top: 26px;
    margin-left: 10px;
}

.header__links-list {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__link_active {
    text-decoration: none;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__logo {
    width: 148px;
    height: 105px;
    margin-top: 10px;
}

.header__address {
    font-family: Raleway, sans-serif;
    font-style: normal;
    margin-left: 97px;
margin-top: 30px;
}

.cover {
    min-height: 757px;
    margin-top: 100px;
    background-image: url(../images/cover.jpg);
    color: white;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;

}

/* Заголовок и межбуквенные расстояния */
.cover__title {
    padding-top: 165px;
    padding-left: 50px;
    font-weight: 700;
    font-size: 100px;
    letter-spacing: 30px;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
}

.aligned-text {
    font-size: 100px;
    letter-spacing: 30px;
    display: block;
}

.aligned-text_left {
    transform: translateX(1px);
}

.aligned-text_center {
    text-align: center;
    transform: translate(-35px, 8px);
}

.aligned-text_right {
    text-align: right;
    transform: translate(-56px, 12px);
}

.letter-spacing-extended {
    letter-spacing: 50px;
}

.dalete-spacing {
    letter-spacing: normal;
}

/* текст и кнопка под заголовком*/
.cover__description {
    padding: 136px 0 0 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 22px;
    position: relative;
    z-index: 2;
}

.cover__description-text {
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 18px;
}

.bet-button {
    border: 1px #FFF solid;
    padding: 14px 32px;
    margin-left: 15px;
    font-family: 'Raleway', sans-serif;
    color: #FFF;
    font-size: 22px;
    line-height: 1;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
}

/*ЛОТЫ*/
.lots {
    margin-top: 179px;
    padding: 0 20px;
}

.lots_heading {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 0 10px 40px;
    margin-bottom: 18px;
}

.lots_card-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 25px;
}

.lots_card-list-item {
    flex-grow: 1;
}


.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}



.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 334px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 40px;
}

.card_title {
    color: white;
    text-decoration: underline;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    z-index: 2;
}

.card_text {
    font-size: 20px;
    font-weight: 400;
    color: white;
    z-index: 2;
}

.card-link {
    text-decoration: none;
}

.lots_look-more-link {
    font-size: 20px;
    font-weight: 400;
    display: block;
    margin: 26px 0 0 40px
}

.about {
    margin-top: 185px;
}

.about_column {
    justify-self: center;
}

.about_logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    margin-left: 20px;
}

.about_logo {
    width: 150px;
    height: 150px;
}

.about_container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 24px;
}

.about_title {
    font-size: 40px;
    padding: 98px 0 100px 0;
    text-transform: uppercase;
}

.about_text {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: 'Raleway', sans-serif;
}

.footer {
    margin-top: 184px;
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    margin-bottom: 88px;
    height: 98px;
}

.footer__address {
    font-size: 18px;
    font-style: normal;
    margin: 21px 0 0 50px
}

.footer_nav {
    margin-top: 20px;
}

.footer_menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: 18px;
}

.footer_menu-link-active {
    text-decoration: none;
}

.footer_social-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 48px;
    align-items: center;
    margin-right: 49px;
    margin-bottom: 13px;

}

.footer_social-icon {
    width: 48px;
}