.header {
    display: grid;
    grid-template-columns: 1fr 150px 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    height: 105px;
    margin-top: 80px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

.header__links-list {
width: 400px;
display: flex;
justify-content: space-between;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__logo {
    width: 148px;
    height: 105px;
}

address{
    font-family: Raleway, sans-serif;
    font-style: normal;
}

.cover {
    margin-top: 95px;
    height: 757px;
    background-image: url(../images/cover.jpg);
    color: white;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;

}

/* Заголовок и межбуквенные расстояния */
.cover__title {
    height: 545px;
    padding-top: 165px;
    padding-left: 50px;
    font-weight: 700;
    font-size: 100px;
    letter-spacing: 30px;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
}

.aligned-text {
    font-size: 100px;
    letter-spacing: 30px;
}

.aligned-text_left {
    transform: translateX(23px);
}

.aligned-text_center {
    text-align: center;
    transform: translateY(7px);
}

.aligned-text_right {
    text-align: right;
    transform: translate(-25px, 7px);
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.dalete-spacing {
    letter-spacing: normal;
}

/* текст и кнопка под заголовком*/
.cover__description {
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 22px;
}

.cover__description-text {
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 15px;
}

.bet-button {
    border: 1px #FFF solid;
    padding: 14px 32px;
    font-family: 'Raleway', sans-serif;
    color: #FFF;
    font-size: 22px;
    line-height: 1;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
}

/*ЛОТЫ*/
.lots {
    height: 692px;
    margin-top: 179px;
    padding: 0 20px;
}

.lots_heading {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 0 30px 40px;
}

.lots_card-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 25px;
    height: 563px;
}



.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}



.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 334px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 40px;
}

.card_title {
    color: white;
    text-decoration: underline;
    font-size: 22px;
    font-weight: 700;
    z-index: 2;
}

.card_text {
    font-size: 20px;
    font-weight: 400;
    color: white;
    z-index: 2;
}

.card-link {
    text-decoration: none;
}

.lots_look-more-link {
    font-size: 20px;
    font-weight: 400;
    display: block;
    margin: 30px 0 0 40px
}

.about {
    margin-top: 180px;
}

.about_column {
    justify-self: center;
}

.about_logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 240px;
    width: 240px;
    border-radius: 150px;
}

.about_logo {
    width: 150px;
    height: 150px;
}

.about_container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.about_title {
    font-size: 40px;
    padding: 125px 0 100px 0;
}

.about_text {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: 'Raleway', sans-serif;
}

.footer {
    height: 98px;
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_menu {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.footer_adress {
    font-size: 18px
}

.footer_menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: 18px;
}

.footer_menu-link-active {
    text-decoration: none;
}

.footer_social-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;

}

.footer_social-icon {
    width: 48px;
}